@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "tailwindcss"; 

@theme {
  --color-selectedItem: #edf5f2;
  --color-carddDebitFrom: #00593B;
  --color-cardCDebitTo: #096C4B;
  --color-cardCreditFrom: #0B102E;
  --color-cardCCreditTo: #121741;
  --color-greenSecondary: #3B8668;

  --font-primary: 'Poppins', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
  --font-lato: 'Lato', sans-serif;
}
